body
    padding: 10px

#ui
    font-size: 25px

sup
    color: #777
    cursor: default

sup.good
    color: green

sup.bad
    color: red

#message
    color: white

#message.error
    background-color: red

#message.info
    background-color: green
    

#single-player-instructions
    label
        color: #888

ul#mandatory-words
    padding: 0
    list-style: none
    display: inline
    li
        display: inline
        margin-right: 0.5em
        color: #444
        font-weight: bold
    li.used
        color: green
    li.unused
        color: red

.player1, .player1-word
    color: red

.player2, .player2-word
    color: green