body {
  padding: 15px;
}
.logotype {
  font-size: 72px;
  margin: 20px 0 6px 0;
}
.instructions {
  padding: 0 15px 10px 5px;
  color: #999;
}
.submit {
  margin-top: -10px;
  padding: 5px 14px;
}
.player-count {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px 7px;
  border-bottom: solid 1px #bbb;
  border-left: solid 1px #bbb;
  font-size: 82%;
  color: #888;
  background: #eee;
}
.header {
  width: 400px;
}
.btn-large {
  font-size: 200%;
}
#ui {
  font-size: 25px;
}
.line {
  line-height: 1.4;
}
.line-counts span {
  background-color: #ccc;
  padding: 10px 12px;
  display: inline-block;
  border-radius: 22px;
  margin: 4px;
  color: #fff;
}
sup {
  color: #777;
  cursor: default;
}
sup.good {
  color: #008000;
}
sup.bad {
  color: #f00;
}
#message {
  color: #fff;
}
#message.error {
  background-color: #f00;
}
#message.info {
  background-color: #008000;
}
#single-player-instructions label {
  color: #888;
}
ul#mandatory-words {
  padding: 0;
  list-style: none;
  display: inline;
}
ul#mandatory-words li {
  display: inline;
  margin-right: 0.5em;
  color: #444;
  font-weight: bold;
}
ul#mandatory-words li.used {
  color: #008000;
}
ul#mandatory-words li.unused {
  color: #f00;
}
.player1,
.player1-word {
  color: #f00;
}
.player2,
.player2-word {
  color: #008000;
}
.waiting {
  visibility: hidden;
}
#two-player-instructions h2 {
  color: #808080;
}
