<div id="ui" ng-controller="OnePlayerGameCtrl">
    <div id="single-player-instructions">
        <label>Use the following words in your haiku:</label>
        <ul id="mandatory-words">
            <li ng-class="{used: word.used}" ng-repeat="word in game.mandatoryWords">{{word.text}}</li>
        </ul>
    </div>
    <form ng-submit="enterPressed()">
        <input on-keyup="updateCurrentSyllableCount()" only-letters type="text" ng-model="newWordText" placeholder="Type a word then hit ENTER">
        <sup class="{{currSyllableCountClass}}">{{currSyllableCount}}</sup>
    </form>
    <p id="haiku">
        <span ng-repeat="line in game.lines" class="line">
            <span ng-repeat="word in line.words">{{word.text}} </span>
            <br>
        </span>
    </p>
    <div class="line-counts">
        <span>5</span><span>7</span><span>5</span>
    </div>

    <p id="message" class="{{messageLevel}}">{{message}}</p>

    <img id="imageKu" ng-src="{{imageSrc}}" width="300px" height="300px" />
</div>