<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Toby's Prototype</title>
  </head>
  <body>
    <h1>Toby's Prototype</h1>
    <div id="ui" ng-controller="WordCtrl">
        <form ng-submit="addWord()">
            <input only-letters type="text" ng-model="newWordText" placeholder="Type your word here">
        </form>
        <p>
            <span ng-repeat="line in lines">
                <span ng-repeat="word in line.words">{{word.text}}<sup title="{{word.syllables}} syllables">{{word.syllables}}</sup> </span>
                <br>
            </span>
        </p>
    </div>
  </body>
</html>