<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Instaku</title>
  </head>
  <body>
    <h1>Instaku</h1>
    <div id="ui" ng-controller="WordCtrl">
        <div id="single-player-instructions">
            <label>Use the following words in your haiku:</label>
            <ul id="mandatory-words">
                <li ng-class="{used: word.used}" ng-repeat="word in mandatoryWords">{{word.text}}</li>
            </ul>
        </div>
        <form ng-submit="enterPressed()">
            <input on-keyup="updateCurrentSyllableCount()" only-letters type="text" ng-model="newWordText" placeholder="Type a word then hit ENTER">
            <sup class="{{currSyllableCountClass}}">{{currSyllableCount}}</sup>
        </form>
        <p id="haiku">
            <span ng-repeat="line in lines">
                <span ng-repeat="word in line.words">{{word.text}}<sup title="{{word.syllables}} syllables">{{word.syllables}}</sup> </span>
                <br>
            </span>
        </p>
        <p id="message" class="{{messageLevel}}">{{message}}</p>
    </div>
  </body>
</html>